/* SectionWrapper */
.wrapper {
  padding: 0 2%;
}
.greenBackground {
  background-image: linear-gradient(to bottom, #207722 0%, #389a45 100%);
  color: white;
}
.grayBackground {
  background-color: rgb(100, 100, 100);
  color: white;
}
.whiteBackground {
  background-color: white;
  color: black;
}
